<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Cart</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const cards = document.querySelectorAll(".product-card");

    cards.forEach(card => {
      card.addEventListener("click", (e) => {
        const productId = card.getAttribute("href").split("/").pop();

        fetch("/log_click", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ item_id: productId })
        });

      });
    });
  });
</script>
<nav class="navbar">
  <a href="/" class="nav-link">Home</a>
  <a href="/cart" class="nav-link">Cart</a>
  <a href="/checkout" class="nav-link">Checkout</a>
</nav>
<body>
  <h1>Your Shopping Cart</h1>

  {% if cart_items %}
    <div class="product-grid">
      {% for item in cart_items %}
        <div class="product-card">
          <h3>{{ item.name }}</h3>
          <button>Remove</button>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p style="text-align:center;">Your cart is empty.</p>
  {% endif %}

  <div style="text-align:center; margin-top: 30px;">
    <a href="/">Continue Shopping</a>
  </div>
</body>
</html>
