<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Checkout</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const cards = document.querySelectorAll(".product-card");

    cards.forEach(card => {
      card.addEventListener("click", (e) => {
        const productId = card.getAttribute("href").split("/").pop();

        fetch("/log_click", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ item_id: productId })
        });

      });
    });
  });
</script>
<nav class="navbar">
  <a href="/" class="nav-link">Home</a>
  <a href="/cart" class="nav-link">Cart</a>
  <a href="/checkout" class="nav-link">Checkout</a>
</nav>
<body>
  <h1>Checkout</h1>

  {% if cart_items %}
    <div class="product-grid">
      {% for item in cart_items %}
        <div class="product-in-cart-card">
          <h3>{{ item.quantity_in_cart }} {{ item.name }}</h3> 
        </div>
      {% endfor %}
    </div>

    <form method="POST" action="/submit-checkout" style="margin-top: 40px; max-width: 400px; margin-left:auto; margin-right:auto;">
      <label>Name:</label><br>
      <input type="text" name="name" required><br><br>
      
      <label>Delivery Address:</label><br>
      <textarea name="address" rows="4" required></textarea><br><br>
      
      <button type="submit">Complete Order</button>
    </form>
  {% else %}
    <p style="text-align:center;">Your cart is empty.</p>
  {% endif %}

  <div style="text-align:center; margin-top: 30px;">
    <a href="/cart">Back to Cart</a>
  </div>
</body>
</html>
