<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Session-Based Recommendation</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const cards = document.querySelectorAll(".product-card");

    cards.forEach(card => {
      card.addEventListener("click", (e) => {
        const productId = card.getAttribute("href").split("/").pop();

        fetch("/log_click", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ item_id: productId + "_click_details"})
        });

      });
    });
  });
</script>
<nav class="navbar">
  <a href="/" class="nav-link">Home</a>
  <a href="/cart" class="nav-link">Cart</a>
  <a href="/checkout" class="nav-link">Checkout</a>
</nav>
<body>
  <h1>Products</h1>

  <div class="product-grid" id="product-grid">
    {% for p in products %}
      <a href="/product/{{ p.id }}" class="product-card">{{ p.name }}</a>
    {% endfor %}
  </div>

  <h2 style="margin-top: 60px; text-align: center;">Recommended for You</h2>

  <div class="product-grid" id="recommendation-grid">
    {% for r in recommendations %}
      <a href="/product/{{ r.id }}" class="product-card">{{ r.name }}</a>
    {% endfor %}
  </div>
</body>
</html>
